#anaglyphContainer {
	margin-top: 10px; 
	margin-bottom: 5px; 
	height: 520px;
	overflow: scroll;
	border: 1px solid #AAA;
}  

#anaglyph {
	transform-origin: 0 0;
}

#wrapper {
	overflow: hidden;
}

.row {
	margin-top: 5px; 
	margin-bottom: 5px;
}

.v-center {
  position: relative;
  transform: translateY(50%);
}